footer {
    background: #aaa;
    color: #202020;
    height: 70px;
    margin-top: 8.7%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#copy{
    text-align: center;
    margin-top: 15px;
 }
 #designed-by{
    font-size: 1.25em;
    font-family: 'Tahoma', serif;
 }
 #line{
     margin-bottom:1%;
 }
  .designer{
    color: #fff;
 }
